.hero{
    background-color: rgba(248, 249, 255, 1);
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 43px;
    }
}
.H_left{
    h2{
        font: {
            size: 56px;
            weight: 700px
        }
        width: 640px;
        margin-bottom: 24px;
    }
    p{
        font: {
            size: $font_size_default;
            weight: 400px;
        }
        width: 624px;
        margin-bottom: 40px;
    }
    .m_store{
        display: flex;
        gap: 32px;
    }
}
.H_right{
    max-height: 698px;
}
